{
	"semi": true,
	"trailingComma": "none",
	"singleQuote": true,
	"tabWidth": 2,
	"useTabs": true,
	"printWidth": 120,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"endOfLine": "lf",
	"vueIndentScriptAndStyle": true,
	"plugins": ["@prettier/plugin-php", "prettier-plugin-organize-attributes", "prettier-plugin-tailwindcss"],
	"attributeGroups": [
		"^v-if$",
		"^v-for$",
		"^v-model",
		"^v-show$",
		"^ref$",
		"^key$",
		"^:?id$",
		"^:?name$",
		"^:?type$",
		"^:?to$",
		"^:?href$",
		"^:?value$",
		"^:?title$",
		"^:?label$",
		"^:?placeholder$",
		"^:?description$",
		"^:?icon$",
		"^:?avatar$",
		"^:?chip$",
		"^:?loading$",
		"^:?disabled$",
		"^:?readonly$",
		"^:?required$",
		"^:?error$",
		"^:?success$",
		"^:?open$",
		"^:?color$",
		"^:?variant$",
		"^:?size$",
		"^:?orientation$",
		"^:?placement$",
		"^wire:",
		"^x-",
		"^@",
		"^:?ui$",
		"^:?class$",
		"$DEFAULT"
	],
	"tailwindStylesheet": "./resources/css/app.css",
	"trailingCommaPHP": false,
	"phpVersion": "7.4",
	"braceStyle": "per-cs"
}
